@page
@model SupportModel
@{
    ViewData["Title"] = "Support";
}


<div class="container-fluid px-0 pb-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-9 mx-auto mt-5">
                <div class="p-4 text-center mt-md-3">
                    <h1>Simple, fair pricing.</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mx-auto text-center">
                <h4 class="mb-5">
                    Partner with the creators of Avalonia to ensure you have the best support, every
                    step of the way.
                </h4>
            </div>
        </div>
    </div>

    <div class="container price-plans pb-5">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card mb-5 mb-lg-0">
                <div class="card-body d-flex flex-column m-3">
                    <h4 class="mx-auto mb-5">Community</h4>

                    <div class="mx-auto">
                        <h3 class="mx-auto">Free</h3>
                        <p class="ms-auto">&nbsp;</p>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Community Support
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Visual Studio & Rider Integration
                        </div>
                    </div>
                    <div class="row mt-auto">
                        <a class="btn btn-primary" href="https://github.com/AvaloniaUI/Avalonia/discussions"
                           target="_blank" role="button">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="card mx-md-4 mb-5 mb-xl-0">
                <div class="card-body d-flex flex-column m-3">
                    <h4 class="mx-auto mb-5">Startup</h4>

                    <div class="mx-auto">
                        <h3 class="mx-auto">€ 200/mo</h3>
                        <p class="ms-auto">per seat</p>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Email Support
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Direct Chat
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Video Consultation as needed
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Project Board
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Priority Response to GitHub Issues
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Visual Studio & Rider Integration
                        </div>
                    </div>
                    <div class="row mt-auto">
                        <a class="btn btn-primary"
                           href="mailto:team@avaloniaui.net?subject=Interested in Startup Support"
                           role="button">Get Support</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body d-flex flex-column m-3">
                    <h4 class="mx-auto mb-5">Enterprise</h4>

                    <div class="mx-auto">
                        <h3 class="mx-auto">€ 400/mo</h3>
                        <p class="ms-auto">per seat</p>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Email Support
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Direct Chat
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Video Consultation as needed
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Project Board
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Priority Response to GitHub Issues
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            One Buisness Day SLA
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Hotfixes
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Technical Kick-off Session
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1">
                            <img src="~/img/checkmark.svg" />
                        </div>
                        <div class="col">
                            Visual Studio & Rider Integration
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary"
                           href="mailto:team@avaloniaui.net?subject=Interested in Enterprise Support"
                           role="button">Get Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-container">
        <div class="background background-support"></div>
        <div class="background background-support curve"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="text-center">
                <h2>Business grade quality <b>for all plans.</b></h2>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-5 px-md-5 mx-auto text-center">
            <p>
                No matter the level of support you require, we’re here as your trusted partners. Our goal is to
                ensure all of our customers are successful when using Avalonia.
            </p>
        </div>
    </div>
    <div class="row text-center pt-5">
        <div class="col-md-4 col-12 mb-5">
            <img src="~/img/stopwatch-half.svg" class="mb-4" />
            <h2>Speedy Replies</h2>
            <p>With a one business day SLA, you’re guaranteed to have the support when it matters the most.</p>
        </div>
        <div class="col-md-4 col-12 mb-5">
            <img src="~/img/forward.svg" class="mb-4" />
            <h2>Fast-Forward to success</h2>
            <p>
                Use the technical kick-off session to get an invaluable one-to-one session from one of our experts.
            </p>
        </div>
        <div class="col-md-4 col-12">
            <img src="~/img/vector-editing.svg" class="mb-4" />
            <h2>Fully customizable.</h2>
            <p>We’ll work with you to understand your needs and can create tailored plans to better serve you.</p>
        </div>
    </div>
</div>

<div class="container-fluid px-0 pb-5">
    <div class="relative pb-5">
        <div class="background-container bg-light">
            <div class="background curve av-bg-dark" style="z-index: 1;"></div>
        </div>
    </div>
</div>

<div class="container-fluid px-0 bg-light text-dark">
    <div class="container pb-5 faq">
        <div class="row text-center pt-5 mb-5">
            <h3>Frequently asked questions</h3>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 pe-lg-5">
                <h4>Does my plan include support?</h4>
                <p>
                    All paid plans include support. This means your engineers can chat directly with the core team,
                    request phone calls or video conference as needed.
                </p>
            </div>
            <div class="mt-5 col-12 col-lg-6 ps-lg-5 mt-lg-0">
                <h4>Can I phone for help?</h4>
                <p>
                    All paid plans your engineers can schedule calls or video conferences as required. To provide
                    consultation on Avalonia.
                </p>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12 pe-5 col-lg-6 pe-lg-5">
                <h4>Do you offer training?</h4>
                <p>
                    Yes we offer training which is charged at an hourly rate (€75/hour). Get in touch with us so we
                    can discuss your needs.
                </p>
            </div>
            <div class="col-12 mt-5 col-12 col-lg-6 ps-lg-5 mt-lg-0">
                <h4>Do you offer one-off incident support? </h4>
                <p>
                    Yes we can offer you technical support at an hourly rate. Get in touch with details and we will
                    be happy to help.
                </p>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-12 pe-5 col-lg-6 pe-lg-5">
                <h4>Can you migrate my app for me?</h4>
                <p>
                    We provide FREE consultations and quotations. Its best to contact us so we can discuss the
                    details and size of your migration.
                </p>
            </div>
            <div class="mt-5 col-12 col-12 col-lg-6 ps-lg-5 mt-lg-0">
                <h4>Can you build me a proof-of-concept?</h4>
                <p>
                    Of course! Get in touch and tell us more. We are happy to sign standard NDA agreements beforehand
                    to protect your IP.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mx-auto text-center">
                <a class="mx-auto btn btn-primary" href="mailto:team@avaloniaui.net?subject=Enquiry"
                   role="button">Get in touch</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 pt-5 mb-5">
    <div class="row">
        <div class="col-md-6 mx-0 pe-md-5 text-center">
            <img src="~/img/jb.svg" />
            <blockquote class="blockquote mt-5">
                <p class="mb-0">
                    “We greatly appreciate the quick and helpful support we have had from the Avalonia
                    developers who have addressed our questions.”
                </p>
            </blockquote>
        </div>
        <div class="col-md-6 mx-0 ps-md-5 text-center">
            <img src="~/img/gritworld.svg" />
            <blockquote class="blockquote mt-5">
                <p class="mb-0">“The technology that Avalonia is providing us with has rapidly made our collaboration indispensable. The team has made itself available to accommodate us from the very beginning and offer us both quick and excellent quality support. We have implemented their framework in our GritGene rendering engine, which allowed us to develop an easy to use and elegant user interface, while saving development time by increasing efficiency.”</p>
            </blockquote>
        </div>
    </div>
</div>