<div class="container-fluid footer">
    <div class="container mt-5 pt-5">
        <div class="row pb-5">

            <!-- Avalonia Column -->
            <div class="col-md-6 col-lg-4">
                <div class="row">
                    <h4><b>Avalonia</b></h4>
                    <p>The .NET XAML framework</p>
                </div>
                <div class="row">
                    <div class="d-flex mb-4 mb-md-0">
                        <a href="https://github.com/avaloniaui/avalonia" target="_blank" class="me-3">
                            <img src="~/img/gh-social.svg" />
                        </a>
                        <a href="https://twitter.com/avaloniaui" target="_blank" class="me-3">
                            <img src="~/img/twitter-social.svg" />
                        </a>
                        <a href="https://www.youtube.com/watch?v=kZCIporjJ70" target="_blank" class="me-3">
                            <img src="~/img/youtube-social.svg" />
                        </a>
                    </div>
                </div>
            </div>

            <!-- Projects Column -->
            <div class="col-md-6 col-lg-2">
                <h6>Projects</h6>
                <a href="https://github.com/avaloniaui/avalonia" target="_blank">
                    <p>Avalonia</p>
                </a>
                <a href="https://github.com/avaloniaui/avaloniavs" target="_blank">
                    <p>Avalonia for VS</p>
                </a>
                <a href="https://github.com/ForNeVeR/AvaloniaRider" target="_blank">
                    <p>Avalonia for Rider</p>
                </a>
                <a href="https://github.com/avaloniaui/avalonia-dotnet-templates" target="_blank">
                    <p>dotnet Templates</p>
                </a>
            </div>

            <!-- Support Column -->
            <div class="col-md-6 col-lg-2">
                <h6>Support</h6>
                <a href="https://docs.avaloniaui.net/">
                    <p>Documentation</p>
                </a>
                <a href="support.html">
                    <p>Consulting Services</p>
                </a>
                <a href="support.html">
                    <p>Commercial Support</p>
                </a>
            </div>

            <!-- Info Column -->
            <div class="col-md-6 col-lg-2">
                <h6>Resources</h6>
                <a href="https://gitter.im/AvaloniaUI/Avalonia">
                    <p>Gitter Chat</p>
                </a>
                <a href="https://github.com/AvaloniaCommunity/awesome-avalonia">
                    <p>Awesome List</p>
                </a>
            </div>
        </div>
    </div>
</div>
